html(lang="en")
  head
    //- Meta 
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    //- Vendor StyleSheets
    link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    
    //- StyleSheets
    link(rel="stylesheet", href="css/style.css")

    title gulpBuildSystem
  body
    h1 This is a Title
    h3 Try adding some text and saving the file.
    p if the web server is working correctly the page will automatically update after you save.

    //- Vendor Scripts
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    
    //- Scripts
    script(src="js/scripts.js")